@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Nunito:ital,wght@1,900&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
*{
    margin: 0;
}
body {
    background-color: #020402;
}
.name {
    display: inline-block;
    left: 17px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #758173;

    text-shadow: 10px 4px 4px rgba(169, 197, 160, 0.25);
}
.links {
    float: right;

}
nav {
    display: inline;
    background-color: #333;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    color: #758173;
    background-color: #A9C5A0;
    font-family: roboto;
    margin: 20px;
}
li :hover {
    cursor: pointer;
    color:white;
}
#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: #C5EFCB;
    font-family: raleway;
    height: 80vh;
    width: 100%;
}
#main {
    color: white;
    font-family: raleway;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    justify-items:center;
}
#image {
    grid-column: span 2;
}
#text{
    font-size: 62px;
}
#btn {
    background-color: #758173;
    color: #C5EFCB;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#arrow:hover{
    color: black !important;
    transform: translateX(50%);
}
#scribble {
    position: absolute;
}
#scribble:hover {
    display: inline;
    color:darksalmon;
    background-image: url("./icons/Untitled.png");
    background-repeat: repeat;
    width: 160px;
    height: 40px;
}
svg {
    transition: 1s ease-out;
}
svg:hover{
    transition: 0.5s ease-in;
    color:bisque;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
@keyframes movarrow {
    from {left:0px;}
    to {left: 50px;}
}